@page "/"

<PageTitle>Index</PageTitle>

<button @onclick="onClickGenerate" class="btn btn-primary">Generuoti</button>

@code
{
    private void onClickGenerate ()
    {
        //var response = await HttpClient.GetAsync($"https://localhost:7276/api/lucky-wheel/spin?username={GameForm.Username}");
        //if (response.IsSuccessStatusCode)
        //{
            
        //}
    }
}